@import '~bulma';

#main-layout {
  margin-top: 75px;
  margin-bottom: 75px;
}

#calendar {
  user-select: none;
  .selected-day {
    color: white;
    background: lightcoral;
    font-weight: bold;
  }
  .standard-day {
    cursor: pointer;
  }
}
